/* generic styles */

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 

:root {
    /* primary colors */
    --light-cyan: hsl(193, 38%, 86%);
    --neon-green: hsl(150, 100%, 66%);
    /* neutral colors */
    --grayish-blue: hsl(217, 19%, 38%);
    --dark-grayish-blue: hsl(217, 19%, 24%);
    --dark-blue: hsl(218, 23%, 16%);
}

body {
    font-family: 'Manrope', sans-serif;
    font-size: 28px;
    font-weight: 800;
    background: var(--dark-blue)
}

button {
    border: none;
}


.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* specific styles */

.main {  
    min-height: 100vh;
}

.container {
    min-height: 100vh;
    max-width: 600px;
    margin: 0 auto;
}

.advice-box {
    margin: 2rem;
    position: relative;
    min-height: 350px;
    border-radius: 2rem;
    justify-content: space-between;
    background: var(--dark-grayish-blue);
    text-align: center;
    padding: 4rem 2.5rem;
}

.advice-title {
    color: var(--neon-green);
    font-size: 1rem;
}

.advice-text {
    color: var(--light-cyan);
    margin: 1rem 0;
}

.advice-bottom-border {
    background-image: url(./bottom-border.svg);
    background-position: top center;
    background-repeat: no-repeat;
    height: 20px;
    width: 100%;
}

.advice-btn {
    background: var(--neon-green);
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(50%);
    padding: 1.5rem;
    transition: box-shadow 0.1s ease-in-out;
    cursor: pointer;
}

.advice-btn:hover {
    box-shadow: 0px 0px 30px 0px var(--neon-green);
}

.loading {
    animation: rotating 1s linear forwards infinite;
}

@keyframes rotating {
    0% {
        transform: translateX(-50%) translateY(50%) rotateZ(0);
        background: var(--light-cyan);
    }
    100% {
        transform: translateX(-50%) translateY(50%) rotateZ(360deg);
        background: var(--light-cyan);
    }
}

/* desktop */
@media (max-width: 500px) {
    .advice-text {
        font-size: 22px;
    }
}

/* mobile */
@media (max-width: 375px) {
    .advice-text {
        font-size: 18px;
    }
    .advice-btn {
        padding: 1.2rem;
    }
}